#set_container {
    margin: 20px;
}

#all_cards_list {
    padding-top: 15px;
    margin-top: 0;
    height: auto;
}

#all_cards_list li{
    margin: 10px;
    display: inline-block;
    font-size: 30px;
    padding: 3px;
    border: dashed 1px black;
    border-radius: 5px;
}

#tab_nav {
    width: 100%;
}

#tab_nav ul{
    display: flex;
    justify-content: left;
    list-style: none;
    border-bottom: black 1px solid;
    margin: 0;
    text-align: center;
    padding-left: 0;
}

.tab {
    width: 150px;
    border: solid black 1px;
    border-bottom:solid 1px black;
    border-top-left-radius: 15px;
    position: relative;
    top: 1px;
    background-color: rgb(230, 223, 223);
}   

.tab.active {
    background-color: white;
    border-bottom: white;
}


#tab_content {
    border: solid 1px black;
    border-top: none;

}

#tab_content p {
    margin: 0;
    padding: 5px;
}